/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic body styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fcfcfc;
    color: #000000;
    padding: 20px;
}

/* Container class for layout */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


/* Button styling */
button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 20px 30px;
    cursor: pointer;
    border-radius: 0px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* Header styling */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Navigation styling */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main content styling */
main {
    margin-top: 20px;
}

/* Footer styling */
footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* About me button */
#aboutMeBtn {
    top: 20px;
    text-align: center;
}

#aboutMeSection{
    top: 30px;
    left: 0px;
    display: none;
    font-size: small;

}

/* project button */
#projectsBtn {
    top: 60px;
    left: 200px;
    text-align: center;
}

#projectsSection{
    top: 70px;
    display: none;
}