/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #1207ac;
    color: #333;
}

/* Header styling */
header {
    background-color: #ff7c01; /* Olive green */
    color: #000; /* Black text */
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}



.file-dropdown {
    position: absolute;
    top: 34.5px;
    left: 0px;
}


.file-dropdown button {
    background-color: #f9a91e;
    color: #333;
    padding: 10px 67px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
}


.file-dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 0px;
    z-index: 1;
}


.file-dropdown-content a {
    font-size: medium;
    color: #333;
    padding: 3px 8px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #fffdfd;
}


.file-dropdown-content a:hover {
    background-color: #dcff7b; 
}


.file-dropdown:hover .file-dropdown-content {
    display: block;
    position: absolute;
    top: 72px;
    left: 0px;
}


.file-dropdown:hover button {
    background-color: #8e8e8e; 
}







.edit-dropdown {
    position: absolute;
    top: 34.5px;
    left: 80px;
}

.edit-dropdown button {
    background-color: #f9a91e;
    color: #333;
    padding: 10px 67px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
}


.edit-dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 0px;
    z-index: 1;
}

/* File dropdown items */
.edit-dropdown-content a {
    font-size: medium;
    color: #333;
    padding: 3px 8px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #fffdfd;
}

/* File dropdown items hover */
.edit-dropdown-content a:hover {
    background-color: #7979f5; /* Pastel lavender */
}

/* Show file dropdown on hover */
.edit-dropdown:hover .edit-dropdown-content {
    display: block;
    position: absolute;
    top: 72px;
    left: 80px;
}

/* Change file button color on hover */
.edit-dropdown:hover button {
    background-color: #6f6d69; /* Light pastel pink */
}



/* File dropdown button at top left */
.view-dropdown {
    position: absolute;
    top: 34.5px;
    left: 160px;
}

/* File dropdown button */
.view-dropdown button {
    background-color: #f9a91e; /* Pastel pink */
    color: #333;
    padding: 10px 67px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
}


/* File dropdown content */
.view-dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 0px;
    z-index: 1;
}

/* File dropdown items */
.view-dropdown-content a {
    font-size: medium;
    color: #333;
    padding: 3px 8px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #fffdfd;
}

/* File dropdown items hover */
.view-dropdown-content a:hover {
    background-color: #ff8be4; /* Pastel lavender */
}

/* Show file dropdown on hover */
.view-dropdown:hover .view-dropdown-content {
    display: block;
    position: absolute;
    top: 72px;
    left: 160px;
}

/* Change file button color on hover */
.view-dropdown:hover button {
    background-color: #5f5e5e; /* Light pastel pink */
}